body {
    font-family: "Mulish", sans-serif;
}

h1.title {
    margin-bottom: 15px;
}

.game-container {
    /*width: 100%;
    height: 100%;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.board-and-history-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* Responsiveness */
@media (max-width: 980px) {

}