button.square {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 80px;
    height: 80px;
    border: solid white 2px; /*inner borders will be 20px TODO: add 5px to outer border in BOARD*/
    background-color: black;
    color: white;
    text-align: center;
    font-size: 60px;
}